<div id="user-pet-table">
	<table class="table table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Pet Name</th>
				<th>Type</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @user.pets.each do |pet| %>
				<tr>
					<td><%= pet.image.url(:thumb) %></td>
					<td><%= pet.name %></td>
					<td><%= pet.pet_type %></td>
				</tr>
		<% end %>
		</tbody>
	</table>
</div>