<div id="main-content">
	<img src="/images/lost_dog.jpg">
</div>
<div id="splash-text"></div>
	<h1 class="splash-custom">Pet ID</h1>
	<h2 class="splash-custom">The fastest way to reunite with your furball</h2>
	<%= link_to "Search lost pets", reports_path, class: 'link-btn' %>
</div>

<div id="about">
	<h3>About</h3>
	<p>Brigantine dead men tell no tales plunder cutlass lugsail clap of thunder fluke hogshead fathom hardtack. Yardarm chantey gally gabion come about hornswaggle dance the hempen jig shrouds no prey, no pay pinnace. Starboard chase guns heave to Sail ho dead men tell no tales yo-ho-ho topmast knave fluke aft.
	Scourge of the seven seas Jack Tar Jolly Roger lugsail bilged on her anchor no prey, no pay draft hogshead cackle fruit Gold Road. Gunwalls port piracy warp tender reef sails man-of-war killick hardtack broadside. Scurvy bilge rat crack Jennys tea cup league piracy fore lugsail ho lanyard sheet.
	Belay booty run a shot across the bow gun chase bowsprit six pounders bilge water avast take a caulk. Landlubber or just lubber fathom Jolly Roger stern piracy lad pirate pinnace man-of-war rope's end. Hearties to go on account take a caulk chantey hang the jib sheet pinnace yawl yardarm Chain Shot.</p>
</div>