/*
 *= require bootstrap-datepicker
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Domine);

.link-btn{
  padding: 5px;
  background-color: #dcdcdc;
  color: #000;
  text-decoration: none;
}
.panel.custom{
	padding: 3rem;
}
.top-pan{
	padding: 0 0 0 3rem;
}