.custom-dog {
  height: 100px;
}
#newPet {
  display: none;
}
h3 {
  margin-bottom: -0.25em;
}
img.gravatar {
  border-radius: 100%;
  height: 15rem;
  margin: 1rem 0 1rem 0;
}
div#top-container {
  text-align: center;
}
#pets-title {
	text-align: center;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
td.clickable.hover {
   cursor: pointer;
}
.link-btn-user{
  text-align: center;
  border-style: none;
  z-index: 10000;
  border-radius: 4px;
  line-height: 18px;
  font-size: 14px;
  height: 27px;
  width: 100px;
  display: inline-block;
  margin: 3px 0;
}
a.lost-btn {
  background-color: #FF6666;
}
input.found-btn {
  background-color: #66CCFF;
  border: 0;
  height: 27px;
}
form.button_to {
  width: 10rem;
  text-align: center;
  display: inline-block;
}

#info-section{
  padding-bottom: 1rem;
}
select.date-control{
    display: inline-block;
    width:auto;
}
.thumbnail{
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}



