body.splash{
  background: url('https://petid-assets.s3.amazonaws.com/images/original/brickwall.png') repeat;
}
#main-content{
	background: url('https://petid-assets.s3.amazonaws.com/images/original/lost_dog.jpg') 0% 25% no-repeat;
	height: 105%;
	margin-top: -2;
}
h1.splash-custom{
  padding-top: 15rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 12rem;
}
h3.splash-custom{
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	font-size: 3rem;
}
h2.splash-custom{
	font-family: 'Domine', serif;
}
p.splash-custom{
	font-family: 'Domine', serif;
	font-size: 2rem;
  line-height: 2.7rem;
}
.splash-custom{
	color: white;
	text-align: center;
}
.parallax{
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base{
  transform: translateZ(0);
}
.parallax__layer--back{
  transform: translateZ(-1px) scale(2);
}
.con{
  margin: 45rem 0 28rem 0;
	text-align: center;
	color: white;
}
.inner{
  background-color: #1D1D20;
  padding: 5rem;
  position: relative;
  width: 35rem;
  height: 27rem;
  opacity: 0.9;
  border-radius: 10px;
  border: 2px solid #A1CF6B;
  display: inline-block;
  text-align: center;
  &:hover {
    background-color: #E0C879;
    color: #E87461;
    opacity: 1;    
  }
} 
a.divLink{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
  opacity: 0;
  filter: alpha(opacity=0);
   &:hover {
    cursor: pointer;
  }
}
.splash-btn.login.link-btn{
  background-color: #7AC74F;
}
.splash-btn.signup.link-btn{
  background-color: #D5D887;
  margin-bottom: .5rem;
}
.splash-btn.link-btn{
  width: 100%;
  border: #E0C879 solid .2rem;
  color: #E87461;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Domine', serif;
  &:hover{
    background-color: #E87461;
  };
}
#about{
	margin-top: 125rem;
}
#about-header{
	text-align: center;
}
@media (max-width: 1100px){
  .inner {
    width: 30rem;
    padding: 4rem;
  }
  #main-content{
    background-position-x: 50%;
  }
}
@media (max-width: 975px){
  #main-content{
    background-position-x: 70%;
  }
  .inner {
    width: 27rem;
    padding: 3rem;
 }
}
@media (max-width: 875px){
  .inner{
    width: 23rem;
    padding: 1.5rem;
    height: 23rem;
  }
  h3.splash-custom{
    font-size: 2.5rem;
  }
  p.splash-custom{
    font-size: 1.5rem;
  }
  .con{
    margin-top: 50rem;
  }
  #about{
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 750px){
  .inner{
    width: 50rem;
    padding: 2.5rem;
  }
  h3.splash-custom{
    font-size: 3.5rem;
  }
  p.splash-custom{
    font-size: 2.5rem;
  }
  .con.left{
    margin-bottom: 2.25rem;
  }
  .con.center{
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
  }
  .con.right{
    margin-top: 2.25rem;
    margin-bottom: 0;
  }
  #about{
    margin: 255rem 0 12rem 0;
  }
}
@media (max-width: 500px){
  .inner{
  width: 41rem;
  }
}
@media (max-width: 400px){
  #main-content{
    background-position-x: 79%;
  }
  .inner{
    width: 35rem;
    padding: 2.5rem;
  }
  h3.splash-custom{
    font-size: 3rem;
  }
  p.splash-custom{
    font-size: 1.75rem;
  }
  #about{
    margin: 275rem 0 0 0;
  }
}